@font-face {
    font-family: Bebas;
    src: url(fonts/Bebas_Neue/BebasNeue-Regular.ttf);
}

@font-face {
    font-family: Epunda;
    src: url(fonts/Epunda_Slab/EpundaSlab-VariableFont_wght.ttf);
}

@font-face {
    font-family: Tagesschrift;
    src: url(fonts/Tagesschrift/Tagesschrift-Regular.ttf);
}

@font-face {
    font-family: Josefin;
    src: url(fonts/Josefin_Sans/JosefinSans-VariableFont_wght.ttf);
}

@font-face {
    font-family: Bungee;
    src: url(fonts/Bungee/Bungee-Regular.ttf);
}

body {
    font-family: 'Times New Roman', Times, serif;
}

.mainbody {
    background-image: url("https://i.dailymail.co.uk/1s/2021/11/11/10/50343137-10190155-Chile_s_Atacama_desert_is_home_to_a_mountain_of_discarded_clothi-a-17_1636627782537.jpg");
    background-repeat: no-repeat;
    background-position: top;
    background-size: 1355px 750px;
}

.aboutbody {
    background-image: url("images/about.png");
    background-repeat: no-repeat;
    background-size: 1350px 1400px;
}

a {
    color: black;
    text-decoration: none;
}

.header {
    font-family: Josefin;
    position: sticky;
    top: 0;
    border-style: solid;
    border-width: 2px;
    background-color: rgba(21, 38, 66, 0.6);
    padding: 10px;
    display: flex;
    margin: -8px;
    margin-bottom: -20px;
}

.navbar {
    display: flex;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
    gap: 100px;
}

.navbar a {
    color: rgb(177, 231, 177);
    margin-bottom: -10px;
}

.navactive a {
    color: rgb(177, 231, 177);
    background-color: rgba(39, 68, 29, 0.4);
    margin: -10px;
    padding: 10px;
    font-weight: bolder;
    font-size: 20px;
}

.content {
    margin-top: 20px;
}

.content img {
    width: 500px;
    height: auto;
}

.section1 {
    padding: 145px;
    padding-left: 0px;
    padding-right: 0px;
    margin: -8px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.part1 {
    font-family: Bungee;
    font-weight: bold;
    color: rgb(191, 144, 120);
    text-shadow: 4px 5px 0 rgb(0, 0, 0);
    font-size: 160px;
    margin-top: -120px;
    margin-bottom: -1px;
    text-align: center;
}

.part2 {
    font-family: Bebas;
    font-size: 23px;
    color: rgb(49, 34, 29);
    margin-left: 300px;
    margin-right: 300px;
    text-align: center;
    padding: 10px;
    border-radius: 30px;
    background-color: rgba(255, 255, 255, 0.7);
}

.section2 {
    background-color: rgb(21, 38, 66);
    color: rgb(131, 166, 190);
    padding: 70px;
    margin-top: -70px;
    margin-left: -8px;
    margin-right: -8px;
    display: flex;
}

.section2 img {
    border-radius: 20px;
    border-style: solid;
    border-width: 5px;
    width: 600px;
}

.sentence {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 100px;
    font-family: Tagesschrift;
}

.sentence h2 {
    text-shadow: 3px 3px 0 black;
    font-size: 30px;
    font-family: Bebas;
    margin-bottom: 10px;
}

.part11 {
    display: flex;
    margin: 20px;
}

.part21 {
    display: flex;
}

.footer {
    font-family: Josefin;
    border-style: solid;
    border-width: 2px;
    margin: -8px;
    padding: 10px;
    display: flex;
    gap: 40px;
    justify-content: center;
    align-items: center;
    background-color: rgb(255, 255, 255);
}

.footer img {
    width: 150px;
    border: solid;
    margin: 10px;
}

#img1 {
    margin-right: auto;
}

#img2 {
    margin-left: auto;
}

.footeritem {
    display: flex;
    gap: 100px;
    justify-content: center;
    align-items: center;
}

.footertext a {
    color: rgb(0, 22, 56);
}

.footeractive {
    font-weight: bold;
    font-size: 20px;
}

.contenttopic {
    padding-top: 50px;
}

.contenttopic img {
    height: 400px;
}

.section1topic {
    margin: 30px;
    margin-top: 20px;
    margin-bottom: 10px;
    padding: 90px;
    padding-left: 0px;
    padding-right: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.topicbg {
    margin-top: -50px;
    margin-left: -8px;
    margin-right: -8px;
    background-color: rgb(49, 34, 29);
}

.sentencetopic p {
    font-size: 18px;
}

.sentencetopic h2 {
    color: rgb(191, 144, 120);
    text-shadow: 3px 3px 2px black;
    font-size: 45px;
    margin-bottom: -10px;
}

.sentencetopic {
    font-family: Epunda;
    color: rgb(191, 144, 120);
    display: flex;
    flex-direction: column;
    margin-right: 20px;
    padding: 40px;
}

.section1topic img {
    border-radius: 20px;
    border-style: solid;
    border-width: 5px;
    border-color: rgb(191, 144, 120);
}

.section2topic {
    padding: 10px;
    padding-bottom: 50px;
    margin: -8px;
    margin-top: -10px;
    margin-bottom: -20px;
    background: rgb(49, 34, 29);
    background: linear-gradient(180deg, rgba(49, 34, 29, 1) 10%, rgba(21, 38, 66, 1) 50%, rgba(39, 68, 29, 1) 95%);
}

.section2topic hr {
    margin: -8px;
}

.section2topictitle {
    display: flex;
    justify-content: center;
    font-size: 40px;
    color: rgb(191, 144, 120);
    text-shadow: 2px 2px 0 black;
}

.topicright {
    display: flex;
    gap: 20px;
    margin: 20px;
    align-items: center;
}

.topicright img {
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    height: 300px;
    width: 2500px;
    margin-left: -30px;
    margin-right: 10px;
}

.topicleft {
    display: flex;
    gap: 20px;
    margin: 20px;
    align-items: center;
}

.sentencetopicright p {
    font-family: Tagesschrift;
    text-align: justify;
}

.sentencetopicleft p {
    font-family: Tagesschrift;
    text-align: justify;
}

.sentencetopicright h2 {
    font-family: Epunda;
    text-shadow: 2px 2px 0 black;
}

.sentencetopicleft h2 {
    font-family: Epunda;
    text-shadow: 2px 2px 0 black;
}

.sentencetopicleft {
    display: flex;
    flex-direction: column;
    margin-right: 30px;
}

.sentencetopicright {
    display: flex;
    flex-direction: column;
    margin-left: 30px;
}

.topicleft img {
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    height: 300px;
    width: 2500px;
    margin-right: -30px;
}

.EP {
    color: rgb(191, 144, 120);
}

.EPimg {
    border-style: solid;
    border-color: rgb(191, 144, 120);
    border-width: 5px;
}

.LF {
    color: rgb(131, 166, 190);
}

.LFimg {
    border-style: solid;
    border-color: rgb(131, 166, 190);
    border-width: 5px;
}

.LC {
    color: rgb(131, 166, 190);
}

.LCimg {
    border-style: solid;
    border-color: rgb(131, 166, 190);
    border-width: 5px;
}

.LFC {
    color: rgb(177, 231, 177);
}

.LFCimg {
    border-style: solid;
    border-color: rgb(177, 231, 177);
    border-width: 5px;
}

.section3topic {
    margin: -8px;
    padding-bottom: 10px;
    background-color: rgba(39, 68, 29);
}

.text {
    color: rgb(177, 231, 177);
    margin: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.text h1 {
    font-family: Epunda;
    font-size: 45px;
    text-shadow: 2px 2px 0 black;
}

.text p {
    font-family: Bebas;
    font-size: 19px;
    margin-top: -10px;
    padding-left: 140px;
    padding-right: 140px;
    text-align: center;
}

.section4topic {
    margin: -8px;
    padding-bottom: 10px;
    background-color: rgba(39, 68, 29);
}

.text2 {
    color: rgb(177, 231, 177);
    margin-bottom: 40px;
    margin-left: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: left;
}

.text2 h1 {
    text-shadow: 2px 2px 0 black;
}

.text2 a {
    color: rgb(177, 231, 177);
    text-decoration: underline;
}

.contentabout {
    margin-left: -8px;
    margin-right: -8px;
    margin-top: 70px;
    padding-bottom: 1px;
}

.section1about {
    color: rgb(21, 38, 66);
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.section1about p {
    margin-left: 200px;
    margin-right: 200px;
    font-size: 20px;
    margin-bottom: 5px;
    text-align: justify;
    font-family: Tagesschrift;
}

.section1about h3 {
    margin-top: 20px;
    margin-left: 600px;
    font-size: 25px;
    font-family: Bebas;
}

.rice {
    font-style: italic;
    font-weight: bold;
}

.section2about {
    display: flex;
    margin: 100px;
    margin-top: 50px;
}

.section1about h1 {
    font-family: Epunda;
    font-size: 70px;
    margin: 20px;
}

table {
    margin: 20px;
    color: rgb(131, 166, 190);
    border: 3px solid rgb(21, 38, 66);
    border-collapse: collapse;
    border-spacing: 10px;
}

caption h1 {
    color: rgb(21, 38, 66);
}

th,
td {
    color: rgb(0, 22, 56);
    border: 2px solid rgb(21, 38, 66);
    padding: 10px;
    text-align: center;
    width: 200px;
}